[Unit]
Description=Restic exporter for prometheus
Documentation=https://github.com/ngosang/restic-exporter
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Restart=on-failure
RestartSec=30
EnvironmentFile=-/etc/default/restic-exporter
ExecStart=/usr/local/bin/restic-exporter
User=restic-exporter
Group=restic-exporter

# Sandboxing / hardening
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict
ProtectHostname=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
LockPersonality=true
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictSUIDSGID=true
MemoryDenyWriteExecute=yes
PrivateDevices=yes
PrivateTmp=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
