name: release-docker

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-docker-images:
    name: build-docker-images (${{ matrix.arch }})
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - platform: linux/386
            arch: 386
          - platform: linux/amd64
            arch: amd64
          - platform: linux/arm/v6
            arch: armv6
          - platform: linux/arm/v7
            arch: armv7
          - platform: linux/arm64
            arch: arm64
          - platform: linux/ppc64le
            arch: ppc64le
          - platform: linux/riscv64
            arch: riscv64
          - platform: linux/s390x
            arch: s390x
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set repo
        run: echo REPOSITORY=ngosang/restic-exporter >> $GITHUB_ENV
      -
        name: Set release tag
        run: echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      -
        name: Docker metadata
        id: docker_metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REPOSITORY }},ghcr.io/${{ env.REPOSITORY }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          push: ${{ github.event_name != 'pull_request' }}
          # Append arch suffix so each matrix job pushes unique tag
          # Do not include :latest here
          tags: |
            ${{ env.REPOSITORY }}:${{ env.RELEASE_TAG }}-${{ matrix.arch }}
            ghcr.io/${{ env.REPOSITORY }}:${{ env.RELEASE_TAG }}-${{ matrix.arch }}
          labels: |
            org.opencontainers.image.version=${{ env.RELEASE_TAG }}

  create-manifest:
    needs: build-docker-images
    runs-on: ubuntu-24.04
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      -
        name: Set repo
        run: echo REPOSITORY=ngosang/restic-exporter >> $GITHUB_ENV
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT }}
      - 
        name: Create multi-arch manifest on DockerHub
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          REPO=${REPOSITORY}
          ARCHS=(386 amd64 armv6 armv7 arm64 ppc64le riscv64 s390x)
          images=()
          for a in "${ARCHS[@]}"; do
            images+=("${REPO}:${TAG}-${a}")
          done
          echo "Creating multi-arch manifest: ${REPO}:${TAG}"
          docker buildx imagetools create --tag ${REPO}:${TAG} "${images[@]}"
          echo "Creating multi-arch manifest: ${REPO}:latest"
          docker buildx imagetools create --tag ${REPO}:latest "${images[@]}"
      - 
        name: Create multi-arch manifest on GHCR
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          REPO=ghcr.io/${REPOSITORY}
          ARCHS=(386 amd64 armv6 armv7 arm64 ppc64le riscv64 s390x)
          images=()
          for a in "${ARCHS[@]}"; do
            images+=("${REPO}:${TAG}-${a}")
          done
          echo "Creating multi-arch manifest: ${REPO}:${TAG}"
          docker buildx imagetools create --tag ${REPO}:${TAG} "${images[@]}"
          echo "Creating multi-arch manifest: ${REPO}:latest"
          docker buildx imagetools create --tag ${REPO}:latest "${images[@]}"
